.p-amount{
    font-size:0.75rem;
}
.check-box:checked{
    border: 0;
    outline: 1px solid var(--primary);
}
.check-box:hover{
    outline: 1px solid var(--primary);
}
input[type="checkbox"] {
    transform: scale(1);
}
.optional{
    font-size: 0.5rem;
}
.form-check-input:checked {
    background-color: var(--primary);
    border: 3px solid #fff;
    outline: 1px solid var(--primary);
    box-shadow: none;
}