*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --soft-primary:#84d187;
  --primary:#00b207;
  --hard-primary:#2c742f;
  --danger:#ea4b48;
  --warning:#ff8a00;
  --g-gray-9:#002602;
  --g-gray-8:#173b1a;
  --g-gray-7:#2b572e;
  --g-gray-6:#406b42;
  --g-gray-5:#567056;
  --g-gray-4:#79987b;
  --g-gray-3:#95b196;
  --g-gray-2:#b3ccb4;
  --g-gray-1:#d8e3d8;
  --g-gray-0:#ecf1ed;
  --gray-9:#1A1A1A;
  --gray-8:#333333;
  --gray-7:#4D4D4D;
  --gray-6:#666666;
  --gray-5:#808080;
  --gray-4:#999999;
  --gray-3:#b3b3b3;
  --gray-2:#CCCCCC;
  --gray-1:#E6E6E6;
  --gray-0:#f2f2f2;
  --main-font:"Poppins", sans-serif;
  --J-font: "Josefin Sans", sans-serif;
  --font-thin: 100;
  --font-xlight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-xbold: 800;
  --font-black: 900;
}
*:focus{
  border-color:var(--primary);
}
body{
  font-family: var(--main-font);
}
a{
  text-decoration: none;
}
hr{
  margin: 0;
  color: var(--gray-3);
}
h2{
  font-weight: 600;
}
.dropdown-item:active {
  background-color: var(--primary);
}
.header{
  font-family: var(--main-font);
}
.header-t{
  font-size: 0.7rem;
}
.header-t .fa-location-dot {
  color: transparent;
  -webkit-text-stroke: 1px var(--gray-6); 
}
.header-t address{
  color: var(--gray-6);
}
.header-t a{
  color: var(--gray-6);
  transition: all 0.3s ease-in-out;
}
.header-t a:hover{
  color: var(--gray-9);
}
.header-t .dropdown-menu{
  z-index: 1050;
}
.header-t .rightside .btn{
  transition: all 0.3s ease-in-out;
  color: var(--gray-6);
  font-size: 0.7rem;
  padding: 0;
}
.header-t .rightside .btn:hover {
  color: var(--gray-9);
}
.rightside .breadcrumb{
  padding-left: 10px;
  box-shadow: -1px 0 var(--gray-2);
}
.s-logo{
  display: none;
}
@media screen and (max-width:400px) {
  .mid-nav .logo img{
    max-width: 100%;
    height: auto;
  }
  .white-logo{
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width:350px) {
  .s-logo{
  display: block;
}
  .l-logo{
  display: none;
}
  .mid-nav .logo img{
    max-width: 100%;
    height: auto;
  }
}
.input-group{
  position: static;
}
.botton{
  background-color: var(--primary);
  font-weight: var(--font-semibold);
  color: #fff;
}
.input-group .btn{
  transition: all 0.3s ease-in-out;
}
.input-group .btn:hover{
  color: #fff;
  background-color: var(--hard-primary);
  border-color: var(--bs-btn-hover-border-color);
}
.input-group .fa-magnifying-glass{
  font-size: 1.5rem;
}
.navbar-toggler{
    box-shadow:none;
}
.navbar-toggler:focus{
    box-shadow:none;
}
.wishlist .btn{
  transition: all 0.3s ease-in-out;
}
.wishlist .btn:hover{
  background-color: var(--gray-2);
  border-color: transparent;
}
.cart{
  box-shadow: -2px 0px var(--gray-2);
}
.cart .btn{
  transition: all 0.3s ease-in-out;
}
.cart .btn:hover{
  background-color: var(--gray-2);
  border-color: transparent;
}
.btn .badge{
  background-color: var(--hard-primary);
  right: 0%;
  top:0;
}
.total-shopping .name{ 
  color: var(--gray-7);
  font-size: 11px;
}
.total-shopping .price{ 
  color: var(--font-medium);
}
.navbar-toggler-icon {
  color: var(--primary);
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.phonenum .fa-phone-volume{
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.btm-nav .btn {
  color: var(--gray-4);
}
.hero{
  padding: 24px 0;
}
.hero .hero-left{
  color: #fff;
}
.hero .hero-left .position-absolute{
  top: 25%;
  left: 10%;
}
.hero-left h1{
  line-height: 1.4;
  width: 70%;
}
.h-span{
  box-shadow: -2px 0 var(--soft-primary);
  padding-left: 12px;
}
.hero .hero-left .h-offer{
  background-color: var(--warning);
  padding: 0 0.75rem;
}
.h-span .fw-medium{
  font-size: 20px;
}
.h-span .fw-semibold{
  font-size: 20px;
}
.h-span .fw-light{
  font-size: 14px;
  opacity: 80%;
}
.hero .hero-left .btn-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-bg: #fff;
  --bs-btn-hover-color: var(--hard-primary);
  --bs-btn-hover-bg: #fff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.hero .hero-left .btn {
  padding-top:16px;
  padding-bottom:16px;
}
.hero .h-right-t .position-absolute{
  top: 6%;
  left: 8%;
}
.hero .h-right-t .fw-semibold{
  font-size: 32px;
}
.only-span{
  color: var(--gray-6);
  font-size: 14px;
}
.h-link{
  color: var(--primary);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  padding-top: 1rem;
}
.h-link:hover{
  color: var(--hard-primary);
  box-shadow: 0 1px var(--hard-primary);
}
.hero .h-right-b .position-absolute{
  top: 25%;
}
@media screen  and (max-width:1200px) {
  .hero .hero-right .h-right-b .position-absolute{
    top: 12.5%;
  }
}
@media screen  and (max-width:991px) {
  .hero .h-right-b .position-absolute{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.h-img-1{
  display: none;
}
@media screen  and (max-width:870px) {
  .h-img-1{
    display: block;
  }
  .h-img-2{
    display: none;
  }
  .hero .hero-left .position-absolute{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero .hero-left .position-absolute .w-50{
    width: 100% !important;
  }
  .hero .hero-left .position-absolute .w-25{
    width: 100% !important;
  }
  .hero .hero-left .position-absolute h1{
    width: 100% !important;
  }
}
@media screen  and (max-width:576px) {
  .h-link{
    padding-top: 0;
  }
  .h-span{
    box-shadow:none;
    padding-left: 0px;
  }
  .hero-left .h-link{
    color: #fff;
  }
  .hero .hero-left .position-absolute{
    width: 100%;
    padding: 0 0.5rem;
    box-shadow: none;
  }
  .hero .hero-left .position-absolute .w-50{
    font-size: 0.1rem;
  }
  .hero .hero-left .position-absolute h1{
    font-size: 1.5rem;
  }
  
}
@media screen  and (max-width:320px) {
  
  .hero-left .h-link{
    color: #fff;
  }
  .hero .hero-left .position-absolute{
    width: 100%;
    padding: 0 0.5rem;
  }
  .hero .hero-left .position-absolute .h-span .spans .span-1{
    display: none;
  }
  .hero .hero-left .position-absolute h1{
    font-size: 1.5rem;
  }
}
@media screen  and (max-width:300px) {
  .hero .hero-left .position-absolute h1{
    display: none;
  }
}
@media screen  and (max-width:350px) {
  .only-span{
    color: var(--gray-8);
    font-size: 1rem;
  }
  .hero .h-right-t .position-absolute .h-r-span .fw-medium{
    font-size: 0.5rem;
  }
  .hero .h-right-t .position-absolute .h-r-span .fw-semibold{
    font-size: 0.9rem;
  }
  .hero .h-right-t .position-absolute .only-span{
    font-size: 0.5rem;
  }
}
@media screen  and (max-width:350px) {
  .hero .h-right-b .position-absolute{
    width: 100%;
  }
}
@media screen  and (max-width:240px) {
  .hero .h-right-b .position-absolute h2{
    font-size: 1rem;
  }
}
.services .container-lg{
  box-shadow: 0 8px 40px rgba(0, 38, 3, 8%);
}
.service-info span{
  color:var(--gray-4);
  font-size:0.8rem;
}
@media screen  and (max-width:220px) {
  .service h5{
    font-size: 1rem;
  }
}
.popular-categories h2{
  color: var(--gray-9);
}
.popular-categories .h-link{
  font-weight: 300;
}
.popular-categories .card-body h3{
  color: var(--gray-9);
  transition: all 0.3s ease-in-out;
}
.popular-categories .card{
  transition: all 0.3s ease-in-out;
}
.popular-categories .card:hover{
  box-shadow: 0 0 12px rgba(32, 181, 38, 0.32);
  --bs-card-border-color:var(--hard-primary);
  .card-body h3{
    color: var(--hard-primary);
  }
}
@media screen and (max-width:420px) {
  .popular-categories .card-1{
    flex: 1 0 100%;
    width: auto;
  }
  .popular-categories .card-2{
    display: none;
  }
  .popular-categories h1{
    font-size: 1rem;
  }
  .popular-categories .h-link{
    font-size: 0.8rem;
  }
}
@media screen and (max-width:420px) {
  .popular-categories .card-2{
    display: none;
  }
}
.products .h-link{
  font-weight: 300;
}
.products .card{
  transition: all 0.3s ease-in-out;
}
.products .card img{
  filter: drop-shadow(1px 15px 10px var(--gray-2));
}
.products .card .span-sale{
  top: 3%;
  left: 4%;
}
.products .card .sale-span{
  background-color: var(--danger);
  top: 3%;
  left: 4%;
}
.products .card .sale-span2{
  background-color: var(--danger);
}

.products .card .sale-best{
  background-color:#2388FF;
}
.products .card .card-sh-btns{
  top: 3%;
  right: 5%;
  display:none;
  transition: all 0.3s ease-in-out;
}
.products .card .card-sh-btns .shopping-btns{
  border: 1px solid var(--gray-3);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.products .card .card-sh-btns .shopping-btns:hover{
  color: #fff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  i{
    -webkit-text-stroke: 0.7px #fff;
  }
}
.products .card-body h3 a{
  color: var(--gray-7);
  transition: all 0.3s ease-in-out;
}

.products .card:hover{
  box-shadow: 0 0 12px rgba(32, 181, 38, 0.32);
  --bs-card-border-color:var(--hard-primary);
  z-index: 100;
  .card-sh-btns{
    display:flex;
  }
}
.products .card .card-body h3:hover a{
  color: var(--hard-primary);
}

.products .shopping-btns{
  color: var(--gray-7);
  transition: all 0.3s ease-in-out;
  background-color: #fff;
} 
.products .shopping-btns i{
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  -webkit-text-stroke: 1px black;
  color:transparent;
  transition: all 0.3s ease-in-out;
} 
.products .shopping-btns:hover{
  color: #fff;
  background-color: var(--primary);
  i{
    -webkit-text-stroke: 0.7px #fff;
  }
}
.price-span .old-price{
  text-decoration: line-through;
  color: var(--gray-4);
}
.r-stars i{
  color:var(--gray-2);
  font-size: 0.7rem;
}
.r-stars{
  .one-star,
  .two-stars,
  .three-stars,
  .four-stars,
  .five-stars{
    color: var(--warning);
}
}
/* .card{
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  }
  .card:hover{
    transform: scale(1.02);
    } */
.offer-info{
  top: 6%;
}
  
.offer-info-3{
  color: var(--gray-9);
}
.sale-counter .time{
      font-size: 0.75rem;
      opacity: 80%;
    }
.sale-counter .span-3{
      opacity: 60%;
}
.offer .btn-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-bg: #fff;
  --bs-btn-hover-color: var(--hard-primary);
  --bs-btn-hover-bg: #fff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 14px 32px;
}
.offer .sale .price{
  color: var(--warning);
}
.offer .sale .up-to{
  color: var(--warning);
  background-color: var(--gray-9);
}
@media screen and (max-width:220px) {
  .offer h3{
    font-size: 1rem;
  }
  .offer .sale-head span{
    font-size: 0.7rem;
  }
  .offer .sale-counter .fs-4,.fs-3,.time{
    font-size: 0.75rem !important;
  }
  .offer .btn-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-bg: #fff;
  --bs-btn-hover-color: var(--hard-primary);
  --bs-btn-hover-bg: #fff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 6px 20px;
}
  .offer .sale-counter.gap-2{
    gap: 0.2rem !important;
}
  .offer .shp-btn.pt-3{
    padding-top: 2.2rem !important;
}
}

.feedbacks span{
  font-size: 0.75rem;
  color: var(--gray-5);
}
.hurry-up{
  font-size: 0.75rem;
  color: var(--gray-4);
}
.hot-deals{
  background-color: var(--gray-0);
}
.hot-deals .time{
  color: var(--gray-4);
}

.banner-info {
  width: 40%;
  top:10%;
  right:0;
}
.banner-info .sale-head .discount{
  color: var(--warning);
}
.banner-info .banner-span{
  color: #fff;
  opacity: 70%;
  width: 80%;
}
.banner .btn-primary {
  --bs-btn-color:#fff ;
  --bs-btn-bg: var(--primary);
  --bs-btn-hover-color:#fff ;
  --bs-btn-hover-bg: var(--hard-primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 14px 32px;
}
@media screen and (max-width:1200px){
  .banner-info .banner-span{
    width: 100%;
}
}
@media screen and (min-width:768px) and (max-width:991px){
  .banner .banner-info .sale-head{
    font-size: 0.6rem;
  }
  .banner .banner-info .sale-head p{
    padding-bottom: 0 !important;
  }
  .banner .banner-info .sale-head.gap-2{
    gap: 1rem !important;
  }
  .banner .banner-info .sale-head h2.fs-1{
    font-size: 2rem !important;
  }
  .banner .banner-info .sale-head h2.gap-3{
    gap: 0.3rem !important;
  }
  .banner .btn-primary {
  --bs-btn-color:#fff ;
  --bs-btn-bg: var(--primary);
  --bs-btn-hover-color:#fff ;
  --bs-btn-hover-bg: var(--hard-primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 6px 20px;
}
  .banner .banner-info.gap-3{
    gap: 0.5rem !important;
}
.banner-info .banner-span{
  width: 100%;
  font-size: 0.7rem;
}
}
@media screen and (min-width:576px) and (max-width:767px){
  .banner .banner-info .sale-head{
    font-size: 0.5rem;
  }
  .banner .banner-info .sale-head p{
    padding-bottom: 0 !important;
  }
  .banner .banner-info .sale-head.gap-2{
    gap: 0.1rem !important;
  }
  .banner .banner-info .sale-head h2.fs-1{
    font-size: 1rem !important;
  }
  .banner .banner-info .sale-head h2.gap-3{
    gap: 0.3rem !important;
  }
  .banner .btn-primary {
  --bs-btn-color:#fff ;
  --bs-btn-bg: var(--primary);
  --bs-btn-hover-color:#fff ;
  --bs-btn-hover-bg: var(--hard-primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 6px 20px;
}
  .banner .banner-info.gap-3{
    gap: 0.2rem !important;
}
.banner-info .banner-span{
  width: 100%;
  font-size: 0.7rem;
}
}
.latest-news .card{
  transition: all 0.3s ease-in-out;
  p{
    transition: all 0.3s ease-in-out;
  }
}
.latest-news .card:hover{
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-color: transparent;
  p{
    color: var(--primary);
  }
}
.card-top .card-date{
  background-color:#fff ;
  bottom: 5%;
  left: 5%;
  color: var(--gray-9);
  border-radius: 0.375rem;
  padding: 10px 15px;
}
.card-top .card-date-span{
  color: var(--gray-5);
}
.latest-news .card-b-top i{
  color: transparent;
  -webkit-text-stroke: 1px var(--gray-5);
}
.latest-news .card-b-top .a-1,.a-2{
  color: var(--gray-7);
  transition: all 0..3s ease-in-out;
}
.latest-news .card-b-top .author-span{
  color: var(--gray-5);
}
.latest-news .card-b-top .a-3{
  color: var(--gray-6);
  transition: all 0..3s ease-in-out;
}
.latest-news .card-b-top .a-1:hover,
.a-2:hover{
  color: var(--hard-primary);
}
.latest-news .card-b-top .a-3:hover{
  color: var(--hard-primary);
}
@media screen and (max-width:290px) {
  .card-top .card-date{
  padding: 5px 7.5px;
  font-size: 0.5rem;
}
.latest-news .card-b-top .category,.author,.comments{
  text-align: center;
}
.latest-news .card-b-top .category,.author,.comments a{
  width: fit-content;
}
.latest-news .card-b-top i{
  font-size: 0.7rem;
}
.latest-news .card-b-top .a-1,.a-2{
  font-size: 0.7rem;
}
.latest-news .card-b-top .author-span{
  font-size: 0.7rem;
}
.latest-news .card-b-top .a-3{
  font-size: 0.7rem;
}
}
.testimonials{
  background-color: var(--gray-0);
}
.testimonials .btn{
  padding: 0.7rem;
}
.testimonials .btn-primary{
  --bs-btn-color: var(--gray-9);
  --bs-btn-bg: #fff;
  --bs-btn-hover-color:#fff ;
  --bs-btn-hover-bg:var(--primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--hard-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  border-radius: 50%;
  border: 1px solid var(--gray-1);
}
.testimonials .btn-primary i{
  width:1rem;
  height:1rem;
}
.testimonials .btn-primary:hover{
  border-color:var(--primary);
}
.testimonials .btn-primary:focus{
  border-color:var(--hard-primary);
}
.testimonials .btn-primary:active{
  border-color:var(--hard-primary);
}
.testimonials .testimonial{
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.testimonials .testimonial .client-name-role span{
  color: var(--gray-4);
}
.client .client-info.gap-2{
  gap: 0.75rem !important;
}
@media screen and (max-width:320px) {
  .client {
  flex-direction: column;
}
  .client .client-info{
  flex-direction: column;
}
}
.cooperations {
  .co-2,.co-3,.co-4,.co-5,.co-6{
    box-shadow: -1px 0 var(--gray-1);
  }
}
.insta-post {
  transition: all 0.3s ease-in-out;
  width: fit-content;
}
.insta-post i{
  color: var(--gray-0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.insta-post:hover{
  i{
    opacity: 1;
  }
  .overlay{
    opacity: 1;
  }
}
.overlay{
  background-color: rgba(43, 87, 46, 0.8);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.footer .footer-t{
  background-color: #F7F7F7;
  padding: 40px 0;
}
@media screen and (max-width:767px){
  .footer .footer-t{
    padding: 20px 0;
}
}
.footer .news-left span{
  color: var(--gray-4);
}
.footer .input-group .btn{
  transition: all 0.2s ease-in-out;
  }
.footer .input-group .btn:hover{
  background-color: var(--hard-primary);
}
.footer .social{
  color: var(--gray-7);
  transition: all 0.3s ease-in-out;
} 
.footer .social i{
  width: 20px;
  height: 20px;
} 
.footer .social:hover{
  color: #fff;
  background-color: var(--primary);
}
.footer .footer-b{
  background-color: var(--gray-9);
}
.footer-b .leftside-bf span{
  color:var(--gray-5);
}
.footer-b .leftside-bf a{
  color:var(--gray-5);
  transition: all 0.3s ease-in-out;
  padding: 3px 0;
}
.footer-b .leftside-bf a:hover{
  color:#fff;
  box-shadow: 0 2px var(--primary);
}
.footer-b .rightside-bf a.nav-link{
  padding: 0;
  color: var(--gray-5);
  transition: all 0.3s ease-in-out;
}
.footer-b .rightside-bf a.nav-link:hover{
color:#fff;
}
.footer .footer-b .span-info{
box-shadow: 0 -1.5px var(--gray-8);
}
.footer .rights span{
color: var(--gray-5);
} 
@media screen  and (max-width: 575px) {
  .navbar{
    padding: 5px 0;
  }
}
@media screen  and (max-width: 420px) {
  .footer .footer-t .input-group input{
    display: none;
  }
  .footer .footer-t .input-group{ 
    justify-content: center;
  }
  .footer .footer-t .input-group button{
    position:static !important; 
    text-align: center;
  }
}
@media screen and (max-width:300px) {
  .footer .footer-t .social-media{
    gap: 0.25rem !important;
  }
  .footer .footer-t .social-media i{
    width: 100%;
    height: auto;
  }
}

.path{
    background: url(../img/public/Breadcrumbs.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.path a{
  color: var(--gray-6);
  transition: all 0.3s ease-in-out;
}
.path a:hover{
  color: var(--gray-2);
}
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--gray-6);
}
.path .active{
  color: var(--primary);
}

.input:focus{
  outline: none;
  border: 2px solid var(--primary);
}

.span-gray{
  color: var(--gray-4);
}

.form-check-input {
    transition: all 0.3s ease-in-out;
    border: transparent;
    outline: 1px solid var(--gray-2);
  }
  .form-check-input:hover {
    outline: 1px solid var(--primary);
  }
  .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none;
  }
  .form-check-input:checked {
    background-color: var(--primary);
    outline: 1px solid var(--primary);
    box-shadow: none;
  }
  .form-check-input:focus {
    box-shadow: none;
    outline: 1px solid var(--primary);
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--primary);
    outline: 0;
    box-shadow: none;
}
.form-select:focus {
    border-color: var(--primary);
    box-shadow:none;
}
option:focus{
 background-color: var(--primary);
}